@CHARSET "UTF-8";

@-webkit-keyframes fade-in {   0% { opacity: 0.3; }   100% { opacity: 1; }   }
 
body{
	position: fixed; top: 30%; left: 0%;
	width:100%;
	background-image: url(../images/background.jpg);
	background-size: 100%;
	border-radius: 10px 10px 10px 10px;
  	-webkit-animation: fade-in 1s linear;
}

a{
	position: absolute; top:10%; left:40%;
	text-align: center; 
	color:black;
    font: normal 15px/100% Verdana, Tahoma, sans-serif; 
	width: 200px; 
}

table{
	position: fixed; top:40%; left:39%;
}

input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9;
    border-radius: 10px 10px 10px 10px; 
} 

input.submit_reg{ 
    position: fixed; top:55%; left: 40%;
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF; 
    border-radius: 10px 10px 10px 10px;
} 

label{
	text-align: center; 
	color:black;
    font: normal 15px/100% Verdana, Tahoma, sans-serif; 
	width: 400px; 
}

.container-fluid{
	position: absolute;
	height:200px;
	width:100%;
}

.carousel-inner{
	position: absolute; left:30%;
	height:200px;
	width:100%;
		
}

#subm{
	position: absolute; left: 0%;
	height:200px;
	width:100%;
}

[class*="item"]{
	position: absolute; left: 30%;
	height:200px;
	width:60%;	
}

[type="image"]{
	position:absolute;
	height:170px;
	width:500px;	
}

p.greeting{
	position: fixed; top:10%; left:30%;
	text-align: center; 
	color:black;
    font: normal 25px/100% Verdana, Tahoma, sans-serif; 
	width: 500px; 
}
p.descr {
	position: absolute; top:10%; left:30%;
	text-align: center; 
	color:black;
    font: normal 15px/100% Verdana, Tahoma, sans-serif; 
	width: 200px; 
}
p.greeting{
	position: fixed; top:10%; left:30%;
	text-align: center; 
	color:black;
    font: normal 25px/100% Verdana, Tahoma, sans-serif; 
	width: 500px; 
}

