@CHARSET "UTF-8";

@-webkit-keyframes fade-in {   0% { opacity: 0.3; }   100% { opacity: 1; }   }
 
body{
	position: fixed; top: 30%; left: 5%;
	background-image: url(back2.png);
	background-size: 100%;
	border-radius: 10px 10px 10px 10px;
  	-webkit-animation: fade-in 1s linear;
}

.wrapp{
	display:flex;
	position: fixed; top: 35%; left:5%;
}

.imagesBox{
	width:30%;
	text-align:center;
}

p.greeting{
	padding: 9px;
	position: fixed; top:10%; left:40%;
	text-align: center; 
	color:white;
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
	width: 200px; 
    background-image: url(back2.png);
    background-size: 100%;
    border-radius: 10px 10px 10px 10px;
}

.imagesBox img{
    width:100%;
    /*border-radius:100px;width: 80%;
    border-radius: 50%;
    border: 3px solid #fff;*/
    /*box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.5);*/
}